.title-text {
  font-size: 2.3em;
}

.nav-text {
  font-size: 1em;
}

#header-div, .content-div {
  width: 90vw;
}

#header-div {
  padding-top: 1em;
}

.thumb-container {
  height: 15em;
  width: 15em;
}

.subsec-header-text {
  font-size: 2em;
}

#mobile-nav-div {
  display: none;
}

#desktop-nav-div {
  display: block;
  width: 100%;
}

#about-me-td {
  display: block;
}

#contact-form {
  width: 25em;
}

#contact-form-title {
  font-size: 2em;
}
